.header {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    border-bottom: 1px solid #ECECEC;
}

.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    display: flex;
    text-decoration: none;
    font-family: $fontLogo;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
        .logo__top-left {
        color: var(--top-logo-color-left);
    }
        .logo__top-right {
        color: var(--top-logo-color-right);
    }
}
.logo--header {
    margin-right: 96px;
}
.nav {
    display: flex;
    align-items: center;
}