.features__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.features__item {
    flex-basis: calc((100% - 90px)/4);
}

.features__icon {
    display: block;
    justify-self: center;
    align-items: center;
    padding: 25px 100px;
    background-color: #F5F4FA;
    margin: 0 auto;
    border: 0;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features__image {
    border: none;
    fill: #212121;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}

.features__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);
    margin: 0;
}