h1,
h2,
h3,
h4,
a,
ul,
p,
li {
    margin: 0%;
}

ul {
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

nav {
    padding: 0%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.body {
    font-family: $fontPrimary;
    @extend %bodyPrimaryfont;
}

.section {
   @extend %section;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.image {
    box-sizing: auto;
}